* {
  font-size: 16px !important;
}

.container {
  width: 100vw;
}

.main-wrapper {
  width: 100%;
}

.grid-list {
  list-style-type: none;
  max-width: 100%;
  margin: 10px 0px;
  padding-inline-start: 0;
  position: relative;
}

.grid-list .grid-item {
  width: 10%;
  display: inline-block;
  position: absolute;
  padding: 5px;
}

.grid-list .grid-item img {
  width: 100%;
}

@media screen and (min-width: 695px) {
  .main-wrapper {
    width: 50%;
    margin: auto;
  }
}

.custom-button-style {
  font-size: 20px;
  padding-left: 12px;
  padding-right: 12px;
  line-height: 48px;
  margin-left: 24px;
}

.custom-button-style[disabled="true"] {
  color: rgba(0, 0, 0, 0.26);
  background: #fff;
  border-left: solid 1px rgba(0, 0, 0, 0.12);
}

.custom-button-style .mat-icon {
  font-size: 32px !important;
  width: 32px;
  height: 32px;
}

.github-logo-style {
  margin-left: auto;
  background-color: #161b22;
  border-radius: 50% 50%;
  width: 48px;
  height: 48px;
}

@media screen and (max-width: 900px) {
  #togglegroup {
    display: none;
  }

  #dropdown {
    display: block;
  }

  #start-sort {
    display: inline;
  }
}

@media screen and (min-width: 901px) {
  #togglegroup {
    display: flex;
  }

  #dropdown {
    display: none;
  }

  #start-sort {
    display: none;
  }
}
